= form_for @package_item do |f|
  - if @package_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@package_item.errors.count, "error")} prohibited this package_item from being saved:"
      %ul
        - @package_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :item
    = f.collection_select(:item_id, Item.unpacked, :id, :name)
  .field
    = f.label :quantity
    = f.number_field :quantity
  .actions
    = f.submit 'Save'
