%p#notice= notice

%p
  %b Quantity:
  = @package_item.quantity
%p
  %b Package:
  = @package_item.package
%p
  %b Item:
  = @package_item.item

= link_to 'Edit', edit_package_item_path(@package_item)
\|
= link_to 'Back', package_items_path
