= form_for @item, html: {class: 'form-horizontal'}  do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :quantity, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :quantity, class: 'form-control'
  .form-group
    = f.label :original_price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :original_price, class: 'form-control'
  .form-group
    = f.label :original_currency, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :original_currency, class: 'form-control'
  .form-group
    = f.label :replacement_price, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :replacement_price, class: 'form-control'
  .form-group
    = f.label :replacement_currency, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :replacement_currency, class: 'form-control'
  .form-group
    = f.label :bought_on, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :bought_on, class: 'form-control'
  .form-group
    = f.label :serial_number, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :serial_number, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Save', class: 'btn btn-success'
